$mainColor: blue;
$secondaryColor: grey;
.name {
    font-size: 40px;
}
body {
  background-color: $mainColor;
}

.wrapper {
  background-color: $secondaryColor;
}
.germs {
  background-color: $secondaryColor;
}
